@impot url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  font-family: 'Roboto Condensed', sans-serif;
}

ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  margin: 0 5px;
}

ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
}

ul li a span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  letter-spacing: 4px;
  color: #262626;
  transition: .5s;
}

ul li a {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 210px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
}

ul li a:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  width: 20px;
  height: 100%;
  background: #b1b1b1;
  transform: rotate(0deg) skewY(-45deg);
  transform: .5s;
}

ul li a:after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: -10px;
  width: 100%;
  height: 20px;
  background: #b1b1b1;
  transform: rotate(0deg) skewX(-45deg);
  transform: .5s;
}

ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
}

ul li:hover .fa {
  color: #fff;
}

ul li:hover span {
  color: #fff;
}

ul li:hover:nth-child(1) a{
  background: #3b5998;
}

ul li:hover:nth-child(1) a:before{
  background: #3b5998;
}

ul li:hover:nth-child(1) a:after{
  background: #3b5998;
}

ul li:hover:nth-child(2) a{
  background: linear-gradient(90deg, rgba(255,223,158,1) 10%, rgba(255,194,115,1) 30%, rgba(229,105,105,1) 50%, rgba(193,85,139,1) 70%, rgba(138,73,161,1) 90%);
}

ul li:hover:nth-child(2) a:before{
  background: #ffdf9e;
}

ul li:hover:nth-child(2) a:after{
  background: linear-gradient(90deg, rgba(255,223,158,1) 10%, rgba(255,194,115,1) 30%, rgba(229,105,105,1) 50%, rgba(193,85,139,1) 70%, rgba(138,73,161,1) 90%);
}

ul li:hover:nth-child(3) a{
  background: linear-gradient(90deg, rgba(29,202,255,1) 20%, rgba(0,172,237,1) 50%, rgba(0,132,180,1) 80%);
}

ul li:hover:nth-child(3) a:before{
  background: #1dcaff;
}

ul li:hover:nth-child(3) a:after{
  background: linear-gradient(90deg, rgba(29,202,255,1) 20%, rgba(0,172,237,1) 50%, rgba(0,132,180,1) 80%);
}

ul li:hover:nth-child(4) a{
  background: red;
}

ul li:hover:nth-child(4) a:before{
  background: red;
}

ul li:hover:nth-child(4) a:after{
  background: red;
}
